{{!-- Display all Posts by Users --}}
<ol class="post-list">
    {{#each posts}}
  <li>
    <article class="post">
      <div class="title">
        <a href="/post/{{id}}">{{title}}</a>
        <span>Posted by {{user.username}} on
        {{created_at}}</span>
      </div>
      <div>
          <span>{{post_content}}</span>
      </div>
      <div class="meta">
         
        <a href="/post/{{id}}">{{comments.length}} comment(s)</a>
      </div>
    </article>
  </li>
  {{/each}}
</ol>